@using WebConferenceApp.Models
@model Account
@{
    ViewData["Title"] = "Index";
}
<div class="w3-row">
    <h2 class="w3-center">Личный кабинет</h2>
    <div class="w3-col l3">
        <div class="w3-container">
            <div class="w3-card-4">
                <div class="w3-green">

                    <div class="w3-container">
                        <div class="w3-image">

                        </div>
                        <div class="w3-container w3-center">
                            @if (Model != null)
                            {
                                <br />
                                <div class=" w3-card-4">
                                    <label><i class="fa fa-user"></i> @User.Identity.Name</label>
                                </div>
                                <br />
                                <div class="w3-card-4">
                                    <label><i class="fas fa-ruble-sign"></i> @Model.Contract.Balance</label>
                                </div>
                                <br />
                                <div class="w3-card-4">
                                    <label><i class="far fa-credit-card"></i> @Model.Contract.Uid</label>
                                </div>

                            }
                        </div>
                    </div>
                    <br />
                    <a asp-action="createroom" asp-controller="home" asp-area="cabinet" class="w3-button w3-red w3-block">Создать лекцию</a>
                </div>
            </div>
        </div>
    </div>

    <div class="w3-col l9">
        <div class="w3-container">
            <div class="w3-card-4">
                <table class="w3-table w3-center">
                    <thead>
                        <tr class="w3-red">
                            <td>
                                <label>Номер лекции</label>
                            </td>
                            <td>
                                <label>Название лекции</label>
                            </td>
                            <td>
                                <label>Дата начала</label>
                            </td>
                            <td></td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var room in Model.Rooms)
                        {
                            if (room.StatusId == 1)
                            {
                                <tr class="w3-green w3-hover-light-green">
                                    <td>@room.Id</td>
                                    <td>@room.Name</td>
                                    <td>@room.BegTime</td>
                                    <td>
                                        <a asp-action="viewroom" asp-controller="home" asp-area="cabinet" asp-route-id="@room.Id"> <i class="far fa-folder-open"></i> </a>
                                        <a asp-action="editroom" asp-controller="home" asp-area="cabinet" asp-route-id="@room.Id"> <i class="fas fa-pencil-alt"></i> </a>
                                        <a asp-action="deleteroom" asp-controller="home" asp-area="cabinet" asp-route-id="@room.Id"> <i class="far fa-trash-alt"></i> </a>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
